<!DOCTYPE html>
<html>
<head>
    <title>Add Item to Inventory</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            height: 100vh;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Add Item to Inventory</h1>
    
    <form action="/inventory/add" method="POST" style="display: flex; flex-direction: column; align-items: center;">
        
        <label for="name">Item Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="cost">Cost:</label>
        <input type="number" id="cost" name="cost" required>
        
        <label for="subtype">Subtype:</label>
        <input type="text" id="subtype" name="subtype" required>
        
        <label for="replacementDuration">Replacement Duration:</label>
        <input type="text" id="replacementDuration" name="replacementDuration" required>
        
        <button type="submit" class="btn btn-primary">Add Item</button>
        <button onclick="window.location.href='/inventory'" class="btn btn-secondary">Back</button>
    </form>

    <!-- Add Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<!--- 

    Todo : 
    Modify the Submit logic
    - We should call the Python code that handles the add functionality
-->