<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/inventory" class="btn btn-primary mb-3">Back</a>
        <h1>Inventory Management</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="font-weight-bold text-center">Item Name</th>
                    <th class="font-weight-bold text-center" style="width: 100px;">Cost</th>
                    <th class="font-weight-bold text-center">Subtype</th>
                    <th class="font-weight-bold text-center" style="width: 100px;">Replacement Duration (Months)</th> <!-- Added style to set width -->
                    <th class="font-weight-bold text-center" style="width: 200px;">Actions</th> <!-- Added column for actions -->
                </tr>
            </thead>
            <tbody>
                {% for item in inventory %}
                <tr>
                    <td class="text-center">{{ item.name }}</td>
                    <td class="text-center">{{ item.cost }}</td>
                    <td class="text-center">{{ item.subtype }}</td>
                    <td class="text-center">{{ item.replacementDuration }}</td>
                    <td class="text-center">
                        <a href="/inventory/delete" class="btn btn-danger" data-product-name="{{ item.name }}">Delete</a> <!-- Updated delete button with item name as a data attribute -->
                        <a href="/inventory/{{ item.id }}/modify" class="btn btn-primary">Modify</a> <!-- Added modify button -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>