<!DOCTYPE html>
<html>
<head>
    <title>About Inventory Manager</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>About Inventory Manager</h1>
        <p>Welcome to the Inventory Manager application. This application helps you manage your inventory by providing features such as adding, updating, and deleting items, as well as searching for items based on category and name.</p>
        <p>With Inventory Manager, you can easily keep track of your inventory and ensure that you have the right items in stock at all times.</p>
        <p>Feel free to explore the various features of the application and manage your inventory efficiently.</p>
        <p>Check out the source code on <a href="https://github.com/sabarish-sridhar/inventoryManager">GitHub</a>.</p>
        <button class="btn btn-primary" onclick="window.location.href='/inventory'">Inventory App</button>
    </div>

    <!-- Add Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>