<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .btn-block {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Inventory Management</h1>

        <p class="text-center mt-4">Welcome to the Inventory Management app. This app allows you to manage your inventory by adding, deleting, displaying, and searching items. You can also download the inventory for further analysis.</p>

        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button class="btn btn-primary btn-block" onclick="window.location.href='/inventory/add'">Add Item</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary btn-block" onclick="window.location.href='/inventory/delete'">Delete Item</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary btn-block" onclick="window.location.href='/inventory/display'">Display Item</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary btn-block" onclick="window.location.href='/inventory/search'">Search Item</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary btn-block" onclick="window.location.href='/inventory/download'">Download Inventory</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


<!--- 

Todo : Make it possible to add, delete, display, search, and download items using the buttons.


-->