<!DOCTYPE html>
<html>
<head>
    <title>Table Example</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
            </tr>
        </thead>
        <tbody>
            {% for item in result %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
              
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>